.refresh-button {
  height: 38px;
}

.score-title {
  height: 54px;
  justify-self: center;
}

.table-custom-first {
  background-repeat: no-repeat;
  background-color: #fff3cd;
  background-image: url(../assets/crown-first.png);
  background-position: 97% 50%;
  background-size: 28px;
}

.table-custom-second {
  background-repeat: no-repeat;
  background-color: #c0c0c0;
  background-image: url(../assets/crown-second.png);
  background-position: 97% 50%;
  background-size: 28px;
}

.table-custom-third {
  background-repeat: no-repeat;
  background-color: #f8d7da;
  background-image: url(../assets/crown-third.png);
  background-position: 97% 50%;
  background-size: 28px;
}